<!DOCTYPE html>
{% autoescape true %}
<html>
  <body>
    {% for note in notes %}
      {% if note.author %}
        <b>{{ note.author.email }}
          {% if user and user.user_id() == note.author.identity %}
            (You)
          {% endif %}
        </b> wrote:
      {% else %}
       An anonymous person wrote:
      {% endif %}
      <blockquote>{{ note.content }}</blockquote>
    {% endfor %}

    <form action="/sign?notebook_name={{ notebook_name }}" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Leave Note"></div>
    </form>

    <hr>

    <form>Notebook name:
      <input value="{{ notebook_name }}" name="notebook_name">
      <input type="submit" value="switch">
    </form>

    <a href="{{ url|safe }}">{{ url_linktext }}</a>

  </body>
</html>
{% endautoescape %}
